# Kilobyte live medium boot menu
set timeout=5
set default=0
set menu_color_normal=white/blue
set menu_color_highlight=blue/light-gray
set color_normal=white/blue

menuentry "Kilobyte (live)" {
    linux /live/vmlinuz boot=live quiet loglevel=3 consoleblank=0
    initrd /live/initrd.img
}
menuentry "Install Kilobyte" {
    linux /live/vmlinuz boot=live quiet loglevel=3 consoleblank=0 kilobyte.install
    initrd /live/initrd.img
}
menuentry "Kilobyte (live, copied to RAM - the stick can be removed)" {
    linux /live/vmlinuz boot=live toram quiet loglevel=3 consoleblank=0
    initrd /live/initrd.img
}
menuentry "Kilobyte (safe graphics)" {
    linux /live/vmlinuz boot=live nomodeset loglevel=3 consoleblank=0
    initrd /live/initrd.img
}
